<% provide(:title, 'About Us') %>
<h1> About Us</h1>
<center>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail thumbnail-about">
	 <%= image_tag("media.jpg", :class => "img-circle", :height => "300px", :width => "300px")%>	
      <div class="caption">
        <h3>Media Variety</h3>
        <p>At Hicks Elementary, we provide a range of media types from dvd's to books. Browse our media collection to take a look!</p>
        <%= link_to "Browse Media", browse_media_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail thumbnail-about">
	 <%= image_tag("librarian.jpg", :class => "img-circle", :height => "300px", :width => "300px")%>	
      <div class="caption">
        <h3>Personnel</h3>
        <p>Our Library Staff works hard to ensure you find what you're looking for!</p>
        <%= link_to "Contact Us", contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail thumbnail-about">
	 <%= image_tag("library.jpg", :class => "img-circle", :height => "300px", :width => "300px")%>	
      <div class="caption">
        <h3>Facilities</h3>
        <p>Our state of the art facilities provide a prime habitat for reading and learning</p>
        <%= link_to "Make A Suggestion", contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
</center>

