<div class="jumbotron-media">		

	<center>
      <section>
         <h1>
            <%= @user.first %>, <%= @user.last %>
         </h1>
            <%= @user.card_number%>
			<h2> Reserved Books </h2>


				<table class="table table-striped media-table">
				
					<%
      				@medias.each do |m|
         				if @user.id == m.user_id %>
								<tr>
								<td>
									<%= link_to(m) do %><strong> <%= m.title %><%end%>
								</td>
								</tr>
            				<%
         				end
      				end	
					%>

								
   			</table>

      </section>
			</center>

</div>
